<h1>Book</h1>

<!-- Formulario Reactivo -->
{{formBook.value | json}}
<br>


<p-card>
    <ng-template pTemplate="header">
        Formulario Reactivo xd
    </ng-template>
    <div class="p-fluid">
        <form [formGroup]="formBook" (ngSubmit)="onSubmit(formBook.value)">
            <div class="formgrid grid">
                <div class="field xl:col-6 lg:col-6 md:col-4 sm:col-12">
                    <label for="id">ID:</label>
                    <input pInputText type="text" id="id" formControlName="id">
                </div>
                <div class="field xl:col-6 lg:col-6 md:col-4 sm:col-12">
                    <label for="code">Code:</label>
                    <input pInputText type="text" id="code" formControlName="code">
                    <div *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                        <small *ngIf="codeField.errors?.required" class="p-error">
                            EL campo es requerido
                        </small>
                        <small *ngIf="codeField.errors?.maxlength" class="p-error">
                            Maximo de caracteres es 5
                        </small>
                        <small *ngIf="codeField.errors?.minlength" class="p-error">
                            Minimo de caracteres es 3
                        </small>
                    </div>
                </div>
            </div>
            <div class="formgrid grid">
                <div class="field xl:col-2 lg:col-2 md:col-6 sm:col-12">
                    <label for="date">Dateode:</label>

                    <p-calendar id="date" formControlName="date" dateFormat="yy-mm-dd"></p-calendar>
                    <div *ngIf="dateField.invalid && (dateField.touched || dateField.dirty)">
                        <small *ngIf="dateField.errors?.required" class="p-error">
                            EL campo es requerido
                        </small>
    
                    </div>
                </div>
                <div class="field xl:col-5 lg:col-5 md:col-6 sm:col-12">
                    <label for="description">description:</label>
                    <input pInputText type="text" id="description" formControlName="description">
                    <div *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)">
                        <small *ngIf="descriptionField.errors?.required" class="p-error">
                            EL campo es requerido
                        </small>
    
                    </div>
    
                </div>
                <div class="field xl:col-5 lg:col-5 md:col-6 sm:col-12">
                    <label for="published">Published:</label>

                    <p-inputSwitch id="published" formControlName="published"></p-inputSwitch>
                </div>
            </div>
            <div class="field">
                <label for="title">Title:</label>
                <input pInputText type="text" id="title" formControlName="title">
                <div *ngIf="titleField.invalid && (titleField.touched || titleField.dirty)">
                    <small *ngIf="titleField.errors?.required" class="p-error">
                        EL campo es requerido
                    </small>

                </div>

            </div>
            <div class="field">
                <button [disabled]="formBook.invalid" pButton type="submit" label="Guardar" icon="pi pi-save"(click)="onSubmit(formBook.value)"> </button>
            </div>
        </form>
    </div>


</p-card>




<br>

<h1>Books</h1>


<p-table id="booksTable" [value]="books" styleClass="p-datatable-striped">
    <ng-template pTemplate="header">
        <tr>
            <th >Id</th>
            <th pSortableColumn="code" >Code <p-sortIcon field="code"></p-sortIcon></th>
            <th  pSortableColumn="title">Title<p-sortIcon field="title"></p-sortIcon></th>
            <th  pSortableColumn="description">Description <p-sortIcon field="description"></p-sortIcon></th>
            <th  pSortableColumn="published">Published  <p-sortIcon field="published"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.code}}</td>
            <td>{{book.title}}</td>
            <td>{{book.description}}</td>
            <td>{{book.published}}</td>
            <td>
                <button pButton type="button" icon="pi pi-eye"  (click)="selectBook(book)"></button>
                <button pButton type="button"  class="p-button-danger ml-2" icon="pi pi-trash"  (click)="deleteBook(book)"></button>
                
            </td>
        </tr>
    </ng-template>
</p-table>




<table>
    <tr>
        <th>
            id
        </th>
        <th>
            title
        </th>
    </tr>
    <tr *ngFor="let book of books ">
        <td>
            {{book.id}}
        </td>
        <td>
            {{book.title}}
        </td>
        <td>
            <button pButton type="button" label="Mostrar" (click)="selectBook(book)"></button>
            <button pButton type="button" label="eliminar" class="p-button-danger" (click)="deleteBook(book)"></button>
            
        </td>
    </tr>

</table>