
<p>book works!</p>
<br>

<button pButton type="button" label="Link" class="p-button-link"></button>
<br>
<button pButton type="button" label="Primary" class="p-button-outlined"></button>


<br>
<button pButton type="button" label="Search" icon="pi pi-search" iconPos="right" class="p-button-text p-button-text"></button>

<br>
<p-button label="Click" ></p-button>
<br>
<p-tabView>
    <p-tabPanel header="Header 1">
       Content 1
    </p-tabPanel>
    <p-tabPanel header="Header 2">
        Content 2
    </p-tabPanel>
    <p-tabPanel header="Header 3">
        Content 3
    </p-tabPanel>
</p-tabView>

<br>
<p-toolbar>
    <div class="p-toolbar-group-left">
        <p-button label="New" icon="pi pi-plus"></p-button>
     <p-button label="Upload" icon="pi pi-upload" styleClass="p-button-success"></p-button>


<br>
        
